*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


body,html{
background-color:antiquewhite;
}
header{
    background-color: gray;
    padding-bottom: 10px;
}
header > h1{
    padding: 10px;
    text-align: center;
}
menu{
    display: none;
}
menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(65, 63, 63);
}
menu li :hover{
    background-color: rgb(195, 183, 183);
}
menu  li {
    list-style-type: none;
    margin: 5px;
}
main{
    width: 80vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
}
article> h2{
    padding: 20px;
    text-align: center;
}
article > p {
    margin: 20px;
    text-align: justify; 
    line-height: 1.5em;
}
#burguer{
    background-color: rgb(45, 43, 43);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
#burguer:hover{
    background-color: white;
    color: black;
}